
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    font-size: 16px;
    background-color: #2F3F4F;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-family: "Audiowide";
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    color: white;
    margin: 0;
    padding-left: 2rem; /* Makes up for font-inuced space on right side of h1 */
}

a {
    color: white;
    text-decoration: none;
}

#click-target {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#main-container{
    position: relative;
    z-index: 10;
    transition: margin-top 0.3s ease-out;
}

.start {
    margin-top: 40vh;
}

.top {
    margin-top: 2rem;
}

.top:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    height: auto;
}

nav {
    display: block;
    text-align: center;
    position: relative;
    z-index: 9;
}

ul {
    padding: 0;
}

.main-nav-item {
    display: inline-block;
    margin: 0 0.5rem;
}

#dev-tool{
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 0.5rem;
    /* display: none; */
    display: block;
}

#logo-1 {
    z-index: 11;
    color: white;
}

#logo-2 {
    position: absolute;
    z-index: 10;
    color: black;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

#logo-container:hover{
    cursor: pointer;
}

#content-container {
    display: none;
    flex-direction: column;
    align-items: justify;
    position: relative;
    z-index: 10;
    background-color: rgba(64, 85, 104, 90%);
    width: 60%;
    border-radius: 1rem;
    padding: 2rem;
}

#content-container a {
    color: #ABCBC8;
}

#projects-section {
    display: none;
}

#about-section {
    display: none;
}

#contact-section {
    display: none;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card .image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card li {
    list-style-type: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in.visible {
    opacity: 1;
}

.emoji{
    width: 2rem;
    height: auto;
}

.section-header {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.section-header-description {
    margin-left: 1rem;
}

#about-me-text {
    margin-left: 2rem;
    width: 70%;
}

#picture-of-me {
    width: 30%;
}

